body {
  font-family: sans-serif;
}

#nav {
  background-color: #ccc; 
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  height: 70px;
}

#nav div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
}

#nav div:hover {

}

#logo {
  width: 280px;
  height: auto;
}


#fighters-grid {
  display: flex;
  width: 424px;
  flex-wrap: wrap;
  padding-top: 10%;
  margin: 0 auto;
  gap: 8px;
}

.fighter-thumb {
  height: 96px;
  width: 96px;
  transition: transform 0.2s, border 0.2s;
  border: 2px solid transparent;
}

.fighter-thumb:hover {
  transform: scale(1.15);
  border: 2px solid #d33;
  cursor: pointer;
}
